<h1 class="text-light">Manage hardware</h1>
<h2 class="text-secondary">All assets</h2>

<div class="container text-center">
  <!-- Titles and that stuff -->
  <div class="row">
    <h5 class="col text-secondary">Asset tag</h5>
    <h5 class="col text-secondary">Name</h5>
    <h5 class="col text-secondary">Description</h5>
    <h5 class="col text-secondary">Creation date</h5>
    <h5 class="col text-secondary">Is active</h5>
  </div>

  <!-- All the content gotten from AssetTable -->
  <div class="row">
    <div class="assets"></div>
  </div>
</div>
