<h1 class="text-light">Manage hardware</h1>
<h2 class="text-secondary">All assets</h2>

<table class="container">
  <thead class="col">
    <tr>
      <td class="text-light">Asset Number</td>
      <td class="text-light">Name</td>
      <td class="text-light">Description</td>
      <td class="text-light">Creation Date</td>
      <td class="text-light">Is Active</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of data" class="col">
      <td class="text-light">{{ i.AssetTag }}</td>
      <td class="text-light">{{ i.Name }}</td>
      <td class="text-light">{{ i.Description }}</td>
      <td class="text-light">{{ i.CreationDate }}</td>
      <td class="text-light">{{ i.IsActive }}</td>
    </tr>

  </tbody>
</table>

