
<!-- -->
<!--Here goes all the code for the navbar-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Inventory management</a>
    <div class="collapse navbar-collapse" id="navbarNav">
    <button (click)="showComponent('AssetMenu')" class="btn btn-light">Manage assets</button>
      <button (click)="showComponent('UserMenu')" class="btn btn-light">Manage users</button>
      <button (click)="showComponent('AssignMenu')" class="btn btn-light">Manage assignments</button>

    </div>
  </div>
</nav>

<div class="container">
  <div *ngIf="selectedComponent === 'AssetMenu'">
    Test 1
    <app-asset-menu></app-asset-menu>
  </div>
  <div *ngIf="selectedComponent === 'UserMenu'">
    Test 2
    <app-user-menu></app-user-menu>
  </div>
  <div *ngIf="selectedComponent === 'AssignMenu'">
    Test 3
    <app-assign-menu></app-assign-menu>
  </div>
</div>

